{{> head }}


{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Wordpress</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam earum animi exercitationem maiores quasi asperiores autem delectus temporibus sapiente tempora fugit voluptatum, totam in aspernatur quae ducimus. Ducimus, quam? Id.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/imagen.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}